*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "RocknRoll One", sans-serif;
    font-size: 18px;
}

.container{
    width: 100%;
    height: 20vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#cpf{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 22px;
}

#cpfForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

#enviar{
    padding: 5px;
    width: 40%;
    border-radius: 15px;
    background: lightgray;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

#enviar:hover{
    background: rgb(0, 0, 0);
    color: white;
}

.areaResultado{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.areaResultado p{
    font-size: 30px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: blue;
}