*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "RocknRoll One", sans-serif;
    font-size: 18px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
    height: 100vh;
    gap: 25px;
}

.container input{
    padding: 5px;
    width: 35%;
}

.container button{
    padding: 15px;
    width: 35%;
    background-color: lightgray;
    color: black;
    border-radius: 30px;
    
}